@mixin box-shadow($h, $v, $r, $c) {
  box-shadow: $h $v $r $c;
  -moz-box-shadow: $h $v $r $c;
  -webkit-box-shadow: $h $v $r $c;
}

@mixin inset-shadow($h, $v, $r, $c) {
  -moz-box-shadow: inset $h $v $r $c;
  -webkit-box-shadow: inset $h $v $r $c;
  box-shadow: inset $h $v $r $c;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

html {
  background: url("/images/bg.jpg") repeat;
  color: #fff;
  text-rendering: optimizeLegibility;
}

hr {
  border-color: #48494B;
  margin: 15px 0 15px 0 !important;
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight:normal;
  margin:20px 0 0 0;
}

h2 {
  font-size:18px;
}

a {
  text-decoration:none;
}

textarea {
  border: 1px solid #303030;
  background-color: #1c1c1f;
  padding: 5px;
  color: #fff;
  @include inset-shadow(0, 0, 5px, #ff0000);
  @include border-radius(5px);
}

#header {
  height: 80px;
  background: url("/images/dark-bg.jpg") repeat;
  border-bottom: 1px solid #303030;
  margin-bottom: 40px;
  @include box-shadow(0px, 1px, 7px, #111);
}

#header #logo img {
  position: relative;
  top: 23px;
  margin-left: 21px;
}

#header #buttons {
  margin-top: 29px;
}

#header #buttons a {
  margin-right: 10px;
}

#content {
  background: url("/images/dark-bg.jpg") repeat;
  border: 1px solid #303030;
  padding:0 0 40px 0;
  @include border-radius(5px);
  @include box-shadow(0px, 1px, 7px, #111);
}

#top, #update, #sidebar {
  padding-top: 20px;
  margin:0;
}

#top {
  border-bottom: 1px solid #3c3c3e;
  padding-bottom: 17px;
  @include box-shadow(0px, 1px, 0px, #1b1c1f);
}

#top h1 {
  margin: 0;
  font-size: 29px;
  line-height: 29px;
}

#update #new_status label {
  text-transform: uppercase;
  font-size: 16px;
}

#update #new_status input,
#update #new_status label {
  display: block;
}

.project_label {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  vertical-align: bottom;
  display: block;
}

#outer_timeline {
  padding: 80px 0;
  margin-bottom: 60px;
  background: url("/images/dark-bg.jpg") repeat;
}

#outer_timeline #months {
  height: 32px;
  border-bottom: 2px solid #515254;
  background:#111;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#222));
}

#months .month {
  position: relative;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
  border-left: 1px solid #5d5d5e;
  line-height: 22px;
  top: 10px;
  float: left;
}

#timeline {
  position: relative;
  background: url("/images/timeline-bg.jpg") repeat;
  width: 100%;
  overflow: hidden;
}

#timeline .project {
  position: relative;
  background: url("/images/project-bg.png") repeat-x;
  height: 62px;
  margin: 20px 0;
  border: 1px solid #0d7f94;
  @include border-radius(5px);
}

#timeline .project:hover {
  @include box-shadow(0, 0px, 10px, #0e84a2)
}

#timeline #today_bar {
  position: absolute;
  width: 8px;
  height: 100%;
  background: url("/images/today-bar.png") repeat-y;
}

#timeline .project .name {
  padding:8px 15px;
  font-size:16px;
  font-weight:bold;
}

.flip {
  background:#181819;
  @include border-radius(4px);
  height: 35px;
  padding:5px 15px;
  font-size:24px;
  text-transform:uppercase;
  border:1px solid #0d0e0e;
  @include inset-shadow(0, 3px, 5px, #000);
  border-bottom:1px solid #333436;
  color:#fff;
}

.green {
  color:#87ea23;
}

#sidebar p {
  font-size:12px;
  margin:20px 0 0 0;
  text-transform:uppercase;
}

.button {
  padding:5px 10px;
  background-color:#1f1f21;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a2b2d), to(#222));
  border:4px solid #1f1f21;
  @include border-radius(8px);
  color:#fff;
  display:inline;
  font-size:18px;
  cursor:pointer;
  @include inset-shadow(0, 1px, 1px, #444);
}

.button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#222));
  @include inset-shadow(0, 1px, 6px, #111);
}

#activity ol {
  list-style:none;
}

#activity ol li {
  margin:0;
  border-bottom:1px solid #111;
  padding:15px 20px;
}

#activity .avatar {
  float:left;
}

#activity .avatar img {
  @include border-radius(4px);
  border:4px solid #111;
}

#activity .activity {
  margin-left:20px;
  float:left;
}

#activity .activity span {color:#999;}

#activity .activity .text {
  font-size:18px;
  display:block;
  color:#fff;
}

#activity {
  background:#1c1c1f;
  border:1px solid #333;
  @include border-radius(4px);
}

#title {
  margin-top:20px;
}

#title a {
  font-size:30px;
  color:#fff;
  text-decoration:none;
}

#title li, #title ul { list-style:none; margin:0;}

.clearfix:after, .container_24:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container_24 {display:block;}