@mixin box-shadow($h, $v, $r, $c) {
  box-shadow: $h $v $r $c;
  -moz-box-shadow: $h $v $r $c;
  -webkit-box-shadow: $h $v $r $c;
}

@mixin inset-shadow($h, $v, $r, $c) {
  -moz-box-shadow: inset $h, $v, $r, $c;
  -webkit-box-shadow: inset $h, $v, $r, $c;
  box-shadow: inset $h, $v, $r, $c;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

html {
  background: url("/images/bg.jpg") repeat;
  color: #fff;
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

textarea {
  border: 1px solid #303030;
  background-color: #1c1c1f;
  padding: 5px;
  color: #fff;
  @include inset-shadow(0, 0, 5px, #ff0000);
  @include border-radius(5px);
}

#header {
  height: 80px;
  background: url("/images/dark-bg.jpg") repeat;
  border-bottom: 1px solid #303030;
  margin-bottom: 40px;
  @include box-shadow(0px, 1px, 7px, #111);
}

#header #logo img {
  position: relative;
  top: 23px;
  margin-left: 21px;
}

#header #buttons {
  margin-top: 29px;
}

#header #buttons a {
  margin-right: 10px;
}

#content {
  background: url("/images/dark-bg.jpg") repeat;
  border: 1px solid #303030;
  @include border-radius(5px);
  @include box-shadow(0px, 1px, 7px, #111);
}

#top, #middle {
  padding-top: 20px;
}

#top {
  border-bottom: 1px solid #48494b;
  padding-bottom: 17px;
  @include box-shadow(0px, 1px, 0px, #111);
}

#top h1 {
  margin: 0;
  font-size: 29px;
  line-height: 29px;
}

#middle #new_status label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

#middle #new_status input,
#middle #new_status label {
  display: block;
}

.project_label {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  vertical-align: bottom;
  display: block;
}

#outer_timeline {
  padding: 80px 0;
  margin-bottom: 60px;
  background: url("/images/dark-bg.jpg") repeat;
  border: 1px solid #202123;
  @include box-shadow(0px, 4px, 7px, #111);
  @include border-radius(5px);
}

#outer_timeline #months {
  height: 32px;
  background: url("/images/bg.jpg") repeat;
  border-bottom: 2px solid #515254;
}

#months .month {
  position: relative;
  color: #fff;
  font-weight: bold;
  padding-left: 10px;
  border-left: 1px solid #5d5d5e;
  line-height: 22px;
  top: 10px;
  float: left;
}

#timeline {
  position: relative;
  background: url("/images/timeline-bg.jpg") repeat;
  width: 100%;
  overflow: hidden;
}

#timeline .project {
  position: relative;
  background: url("/images/project-bg.png") repeat-x;
  height: 62px;
  margin: 20px 0;
  border: 1px solid #0d7f94;
  @include border-radius(5px);
}

#timeline #today_bar {
  position: absolute;
  width: 8px;
  height: 100%;
  background: url("/images/today-bar.png") repeat-y;
}
