@mixin box-shadow($h, $v, $r, $c) {
  box-shadow: $h $v $r $c;
  -moz-box-shadow: $h $v $r $c;
  -webkit-box-shadow: $h $v $r $c;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

html {
  background: url("/images/bg.jpg") repeat;
}

#header {
  height: 80px;
  background: url("/images/dark-bg.jpg") repeat;
  border-bottom: 1px solid #303030;
  margin-bottom: 40px;
  @include box-shadow(0px, 1px, 7px, #222);
}

#header #logo img {
  position: relative;
  top: 23px;
  margin-left: 21px;
}

#header #buttons {
  margin-top: 29px;
}

#header #buttons a {
  margin-right: 10px;
}

#timeline {
  position: relative;
  background: url("/images/timeline-bg.jpg") repeat;
  width: 100%;
  overflow: hidden;
}

#timeline .project {
  position: relative;
  background: url("/images/project-bg.png") repeat-x;
  height: 62px;
  margin: 20px 0;
  border: 1px solid #0d7f94;
  @include border-radius(5px);
}

#timeline #today_bar {
  position: absolute;
  width: 8px;
  height: 100%;
  background: url("/images/today-bar.png") repeat-y;
}
