%h1
  Splendid Bacon
%p{:class => "tagline"}
  Project Management for hackers with sprinkle of bacon!

%p
  = link_to "Login", new_user_session_path, :class => "button"
  or
  = link_to "Signup now!", new_user_registration_path, :class => "button"

%p
  Project management software is often overkill. We wanted to make something that was useful, but not painful to use. Splendid Bacon is very simple project management tool.

%p
  See what is happening in your organization and projects at a glance. Splendid Bacon makes resource management simple and fast.
  
%h2
  Features
  
:textile
  * Organization and project dashboards
  * Timelines for resources and projects
  * Guest access for clients / status screens
  * News feed with:
  ** Github integration
  ** Status updates from project members

= link_to "Signup now!", new_user_registration_path, :class => "button"