#top.clearfix
  %span.push_1.project_label Project
  %h1.push_1.grid_24= "Edit #{@project.name}"
  
#leftcolumn.push_1.prepend-1.grid_15
  = render "form"

.push_1.prepend-1.grid_15
  %h2 GitHub Post-Receive Hook
  %p You can use this to automatically post Git commit messages to the project page.
  %ol
    %li Copy the post-receive hook URL from below
    %li Go to your project's repository administration page on GitHub
    %li Choose "Service hooks"
    %li Add a new post-receive URL
  :textile
    More information can be found in GitHub's "Post-Receive Guide":http://help.github.com/post-receive-hooks/
  %input#post-receive.flip.grid_15{:type => :text, :value => github_api_v1_project_url(@project, :token => @project.api_token), :readonly => "readonly"}
  
.push_1.prepend-1.grid_15
  %h2 Destroy this project
  %p If you are absolutely sure (there is no undo), you can destroy this project by clicking the button below.
  = button_to "Destroy this project!", { :action => :destroy, :id => @project.id }, :class => "button", :confirm => "Are you sure you want to destroy this project?", :method => :delete