#top.clearfix
  %span.push_1.project_label Project
  %h1.push_1.grid_24= "Edit #{@project.name}"
  
#leftcolumn.push_1.prepend-1.grid_15
  = render "form"

#github.push_1.prepend-1.grid_15
  %h2 GitHub Service Hook
  %p You can use this to automatically post Git commit messages to the project page.
  %ol
    %li Go to your project's repository administration page on GitHub
    %li Choose "Service hooks"
    %li Scroll down to Splendid Bacon in the list
    %li Copy/paste you Token and Project ID from below and mark the hook active
    %li Save the settings, and that's it.
  %label{:for => "project_id"} Project ID
  %input.flip.grid_15.copy_url#project_id{:type => :text, :value => @project.id, :readonly => "readonly"}
  %label{:for => "token"} Token
  %input.flip.grid_15.copy_url#token{:type => :text, :value => @project.api_token, :readonly => "readonly"}
  

#github.push_1.prepend-1.grid_15
  %h2 Pivotal Tracker Web Hook
  %p By using this web hook, Pivotal Tracker can automatically post status messages to the project page.
  %ol
    %li Go to your project's settings page on Pivotal Tracker
    %li Choose "Integrations"
    %li Scroll down to "Activity Web Hook"
    %li Copy/paste the URL below into the "Web Hook URL" field and save. <br />The API version should be "v3".
  %label{:for => "project_id"} Web Hook URL
  %input#post-receive.flip.grid_15.copy_url{:type => :text, :value => pivotal_tracker_api_v1_project_url(@project.id, :protocol => "https", :token => @project.api_token), :readonly => "readonly"}
  
#destroy.push_1.prepend-1.grid_15
  %h2 Destroy this project
  %p If you are absolutely sure (there is no undo), you can destroy this project by clicking the button below.
  = button_to "Destroy this project!", { :action => :destroy, :id => @project.id }, :class => "button", :data => { :confirm => "Are you sure you want to destroy this project?" }, :method => :delete
