#top.clearfix
  %span.push_1.project_label Admin
  %h1.push_1.grid_24 Users
  
#leftcolumn.push_1.prepend-1.grid_15
  #users
    %ul.magic_users
      - list_of @users do |user|
        = render user
  #paginator
    = paginate @users, :remote => true