#top.clearfix
  %span.push_1.project_label Admin
  %h1.push_1.grid_24 Users
  
#leftcolumn.push_1.prepend-1.grid_15
  %ul.magic_users
    - @users.each do |user|
      %li
        %strong= user.id
        = link_to user.name, magic_user_path(user)
  = will_paginate @users