#project_filters.clearfix

  .project_status
    %a.selected All
    %a Ongoing
    %a On Hold
   
  .project_mate.dropdown
    %div.pictos.down
    %ul.project_filter{"data-type" => "user"}
      %li Everyone
      - @organization.users.each do |user|
        %li{"value" => user.id}= user.name
   

  / 
    %select.project_filter{"data-type" => "project_status"}
      %option{"value" => "all"} Status
      %option{"value" => "ongoing"} Ongoing
      %option{"value" => "on_hold"} On Hold
  
