- if @organizations.empty?
  %p
    You have no organizations.
    = link_to "Would you like to create one?", new_organization_path
- else
  %ul
    - @organizations.each do |organization|
      %li
        = link_to organization.name, organization
