= link_to "Edit Organization", edit_organization_path(@organization), :class => "button right"
= link_to "New Project", new_project_path, :class => "button right"
#dashboard
  .clearfix
  - @organization.projects && @organization.projects.each do |project|
    = render project
.clearfix