= link_to "Edit this organization", edit_organization_path(@organization), :class => "button right"
#dashboard
  .clearfix
  - @organization.projects && @organization.projects.each do |project|
    = render project
.clearfix