#dashboard
  .clearfix
  - @organization.projects && @organization.projects.each do |project|
    = render project
        
%p
  =  @organization.name
  = link_to "Edit", edit_organization_path(@organization)