= link_to "Edit Organization", edit_organization_path(@organization), :class => "button right"
= link_to "New Project", new_project_path, :class => "button right"
#dashboard
  .clearfix
  - if @organization.projects.empty?
    = image_tag("project-blank.png")
  - @organization.projects && @organization.projects.each_with_index do |project, index|
    = render project
    - if (index + 1) % 2 == 0
      .clear
.clearfix
