#dashboard
  = render "project_filters"

  .clearfix
  - @organization.projects.current && @organization.projects.current.sort_by{|p| p.name.downcase}.each_with_index do |project, index|
    = render project
    - if (index + 1) % 2 == 0
      .clear
  .clear

.clearfix.completed
  - if @organization.projects.completed.present?
    = link_to "View Completed Projects", completed_organization_path(@organization), :class => "button faded"
